.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}


.big {

  line-height: 2em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #2b2b2b;
}

html {
    height: 100%;
}

#doc3 {
    margin: auto 10px;
    width: auto;
    height: 2000px;
    background-color: yellow;
}

.back-black{
    background-color:black;
}
.white-box {
    background-color: white;
    
    color: black;
    
}

.stock-background{
    background-image: url("intro.jpg");
}
.white-box-Upper {
    background-color: white;
    margin-top: -8px;
    color: black;
    
}
.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}

